@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    background: linear-gradient(rgb(0, 0, 0), rgb(15, 23, 42), rgb(15, 23, 42));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hamburger {
    position: relative;
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: all 0.25s;
    margin-top: 10px;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: #fff;
    transform: rotate(0);
    transition: all 0.5s;
}

.hamburger-middle {
    transform: translateY(7px);
}

.hamburger-bottom {
    transform: translateY(14px);
}

.open {
    transform: rotate(90deg);
}

.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
    display: none;
}

.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
}




/* table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  /* table tr:nth-child(even){background-color: #f2f2f2;} */
  /* table tr { background-color: #f2f2f2;} */
  
  /* table tr:hover {background-color: #ddd;} */
  
  /* table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
  }  */